#home {
    padding: 0;
    margin: 0;
}

.split_home {
    width: 100vw;
}

#home-page{
    margin-top: 100px;
}

#more_link{
    color: white;
}
nav-link, a {
    background-color: initial;
}

.home-intro {
    padding: 70px 70px 0;
    font-weight: 300;
    font-size: 34px;
    text-align: left;
}

#home-info {
    padding: 30px 70px;
    font-size: 25px;
    font-weight: 100;
    text-align: right;
}

@media (min-width: 800px) {
    .split_home {
        flex: 1;
        padding: 1em;
        margin-top: 30px;
    }
}