#home {
    background-size: cover;
    padding: 0;
    margin: 0;
}

#profile-image{
    width: 300px;
    border-radius: 100px;
}

.home-intro {
    padding: 70px 70px 0;
    font-weight: 300;
    font-size: 34px;
    text-align: left;
}

#home-info {
    padding: 30px 70px;
    font-size: 25px;
    font-weight: 100;
    text-align: right;
}
