.split {
    padding: 1em;
    margin-top: 30px;
}

#home-header {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

#home-intro {
    font-weight: 500;
    font-size: 22px;
    padding: 10px 20px;
    font-family: 'Raleway', sans-serif;
}

.home {
    font-weight: 300;
    line-height: 25px;
    margin-top: 20px;
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: 'Lato', sans-serif;
}

#home-img {
    width: 100%;
}

@media (min-width: 800px) {
}
