#nav-bar {
    /* background-color: rgb(77, 77, 77); */
    background-color: white;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: 38px;
    width: 100%;
    font-size: 18px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

#logo {
    height: 38px;
}

#nav-home-link {
    text-decoration: none;
    /* background-color: rgb(77, 77, 77); */
    height: 38px;
    padding: 0;
}

.nav-link,
a {
    padding: 2px 10px;
    color: black;
    text-decoration: none;
    display: block;
    background-color: #88bdcf;
    font-weight: 300;
}

#nav-hide {
    display: none;
}

#nav-bars {
    color: #f1cd76;
    margin-right: 10px;
}

#nav-show {
    position: fixed;
    top: 38px;
    right: 0px;
}
