#portfolio {
    text-align: center;
    padding: 20px;
    margin-bottom: 15px;
}

.pic {
    width: 260px;
    border-radius: 4px;
}

p {
    font-style: initial;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
}

h3 {
    padding: 7px 0;
    font-style: oblique;
}

h5 {
    margin: 9px 0;
}

h6 {
    display: inline-block;
    margin: 0 5% 5% 5%;
    font-size: 15px;
    color: black;
    border: 1px solid gray;
    outline-style: 1px solid;
    border-radius: 4px;
    padding: 3px;
}

.portfolioFooter a {
    color: black;
    text-decoration: none;
}

.hide {
    display: none;
}

.one {
    box-shadow: 0px 2px 10px 2px rgb(219, 219, 219);
    border-radius: 0px;
    margin: 30px 0;
    padding: 10px;
}

@media (min-width: 800px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 50px 720px;
        grid-gap: 10px;
        grid-auto-rows: minmax(200px, auto);
    }

    .gridHead {
        grid-column: 1 / 4;
    }
}
