* {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

#root {
    height: 100vh;
}

html,
body {
    height: 100vh;
}

.App {
    flex: 1;
    max-width: 1050px;
    margin: 0 auto;
}

.main-body {
    margin-top: 40px;
    padding: 20px;
    background-color: white;
    color: #464646;
    min-height: 90vh;
}

.main-app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.title-text {
    font-weight: 100;
    font-size: 30px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    color: #4d4646;
    text-decoration: underline #eea737;
}
