* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main-body {
    margin-top: 40px;
    padding: 20px;
    height: 100vh;
}

.title-text {
    font-weight: 100;
    font-size: 30px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}