* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main-body {
    margin-top: 40px;
    padding: 20px;
    background-color: white;
    color: #4d4646;
}

.title-text {
    font-weight: 100;
    font-size: 30px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    color: #4d4646;
    text-decoration: underline #e3ebf2;
}
